<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Conheça mais sobre nós</h2>
                <hr class="light">
                <p class="text-faded">Há mais de 20 anos na cidade de Americana, no interior de São Paulos, as irmãs Adriana e Luciana Tiba participam da cena artística com seus trabalhos em cerâmica de alta temperatura, serigrafia, tingimento natural e arte em papel.</p>
            </div>
        </div>
    </div>
</section>
