<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato conosco!</h2>
                <hr class="primary">
                <p>Acompanhe a gente nas redes sociais para saber mais sobre o nosso trabalho e entre em contato conosco por email para agendar uma visita ao nosso espaço. Será um prazer te receber!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center" /></div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <p>
                    <a href="{{ site.facebook_url }}"><i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </p>
            </div>
        </div>
    </section>
